* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  background-image: url(../assets/images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 923px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 278px 0 195px;
  margin-bottom: 104px;
}
.main-header__logo > p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.main-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 79px;
}
.main-header__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  gap: 21px;
  text-transform: capitalize;
}
.main-header__menu a {
  text-decoration: none;
  color: #737373;
}
.main-header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
.main-header__login a {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ff6551;
  text-decoration: none;
  text-transform: capitalize;
}
.main-header__login button {
  width: 138px;
  height: 52px;
  background-color: #ff6551;
  border: none;
  color: #ffffff;
  letter-spacing: 0.2px;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.hero-text-container {
  padding-left: 197px;
  max-width: 650px;
}
.hero-text-container .hero-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ff6551;
  letter-spacing: 0.1px;
  margin-bottom: 35px;
}
.hero-text-container .hero-heading {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.hero-text-container .hero-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 35px;
}

.hero-button-container .hero-button-left {
  width: 195px;
  height: 52px;
  background-color: #ff6551;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: capitalize;
  margin-right: 10px;
}
.hero-button-container .hero-button-right {
  width: 165px;
  height: 52px;
  border: 1px solid #ff6551;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ff6551;
  background-color: #ffffff;
}

.product-card-container {
  padding: 0 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: -240px;
  margin-bottom: 136px;
}
.product-card-container .product-card {
  width: 329px;
  padding: 35px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.product-card-container .product-card .logo-container {
  width: 70px;
  height: 76px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.product-card-container .product-card .orange-logo {
  background-color: #ff6551;
}
.product-card-container .product-card .blue-logo {
  background-color: #2435a1;
}
.product-card-container .product-card .yellow-logo {
  background-color: #ffc652;
}
.product-card-container .product-card .product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 20px;
}
.product-card-container .product-card .product-line {
  width: 50px;
  height: 2px;
  background-color: #e74040;
  margin-bottom: 20px;
}
.product-card-container .product-card .product-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.quality-container {
  height: 761px;
  padding: 160px 197.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.quality-container__left {
  margin-right: 157.5px;
}
.quality-container__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quality-container__right a {
  text-decoration: none;
}
.quality-container__line {
  width: 94px;
  height: 7px;
  background-color: #e74040;
}
.quality-container__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.quality-container__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.quality-container__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.quality-container__link-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
}

.client-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 191px 80px 195px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses {
  background-color: #26335d;
  padding: 80px 0 250px 184.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.courses-text-container {
  background-color: #26335d;
  padding: 160px 0 0 185px;
}
.courses-text-container__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
  margin-bottom: 10px;
}
.courses-text-container__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 10px;
}
.courses-text-container__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  max-width: 469px;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.courses .course-card {
  width: 330px;
  background-color: #ffffff;
}
.courses .course-card .course-card-cover__container {
  height: 300px;
  padding: 236px 104px 0 104px;
  position: relative;
}
.courses .course-card .course-card-cover__container-sale {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 51px;
  height: 24px;
  background-color: #e74040;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.courses .course-card .cover-left {
  background-image: url(../assets/images/product-cover-1-.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.courses .course-card .cover-center {
  background-image: url(../assets/images/product-cover-2-.png);
  background-size: 102%;
  background-repeat: no-repeat;
}
.courses .course-card .cover-right {
  background-image: url(../assets/images/product-cover-3-.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.courses .course-card .course-card-cover__icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.courses .course-card .course-card-cover__icons-container .course-card-cover__icon-container {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-card-text-container-main {
  padding: 25px 25px 35px 25px;
}
.course-card-text-container-main .course-card-text-container__name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.course-card-text-container-main .course-card-text-container__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
}
.course-card-text-container-main .course-card-text-container__name-icon-container {
  width: 50px;
  height: 26px;
  background-color: #26335d;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.course-card-text-container-main .course-card-text-container__heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-top: 10px;
}
.course-card-text-container-main .course-card-text-container__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
}
.course-card-text-container-main .course-card-text-container__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
}
.course-card-text-container-main .course-card-text-container__sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-top: 15px;
}
.course-card-text-container-main .course-card-text-container__sales .course-card-text-container__sales-regular {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #bdbdbd;
}
.course-card-text-container-main .course-card-text-container__sales .course-card-text-container__sales-sale {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2435a1;
}
.course-card-text-container-main button {
  width: 144.14px;
  height: 44px;
  border: 1px solid #ff6551;
  border-radius: 37px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
  gap: 10px;
  margin-top: 15px;
}

.watch-container {
  padding: 160px 198px 80px;
}
.watch-container__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
}
.watch-container__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-top: 10px;
}
.watch-container__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
  max-width: 469px;
}

.price-container {
  padding: 0 195px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-card {
  position: relative;
  width: 328px;
  padding: 50px 40px;
}
.price-card__heart-container {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #ff6551;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 13px 19px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(0px 13px 19px rgba(0, 0, 0, 0.07));
}
.price-card__free-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  text-transform: uppercase;
  margin-top: 35px;
}
.price-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 35px;
  width: 220px;
}
.price-card__price {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ff6551;
  margin-top: 35px;
}
.price-card__price-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8ec2f2;
  margin-top: 10px;
}
.price-card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 35px;
}
.price-card__button {
  width: 243px;
  height: 52px;
  background-color: #ff6551;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 50px;
}
.price-card__internal-container {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.price-card__component-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.price-card__component-container--check-container-green {
  width: 32px;
  height: 32px;
  background: #2dc071;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-card__component-container > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.price-card__component-container--check-container-gray {
  width: 32px;
  height: 32px;
  background: #bdbdbd;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-card__component-container .gray-up {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.price-card .new-container {
  position: absolute;
  top: 0;
  right: 329px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #e77c40;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-container {
  padding: 160px 198px 80px 198px;
}
.section-container__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
}
.section-container__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: 10px;
}
.section-container__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
  width: 463px;
}